{{> default/header }}

<body>

  <!-- Navigation -->

  {{> default/navbar }}


  <!-- Page Content -->
  <div class="container">

    {{{ body }}}

  </div>
  <!-- /.container -->

  <!-- Footer -->
  {{> default/footer }}

  